.course-columns {
    display: flex;
    justify-content: space-between;
}
.course-columns ul {
    list-style-type: none;
    padding: 0;
}
.course-columns li {
    margin-bottom: 10px; /* Adjust as needed */
    font-size: small; /* Adjust as needed */
}

.image-container {
    display: flex;
    justify-content: space-between;
}

.image-container .image {
    flex: 1;
    margin: 0 5px;
}

.image-container .image img {
    width: 100%;
    height: auto;
}

.content-container {
    display: flex;
    align-items: flex-start;
}

.text-content {
    flex: 1;
    margin-right: 20px;
}

.image-container {
    display: flex;
    flex-direction: column;
}

.image-container .image {
    margin-bottom: 10px;
}

.image-container .image img {
    width: 100%;
    height: auto;
}

.image {
    display: block;
    width: 100%; /* Ensures the anchor takes the full width of its container */
    max-width: 100%; /* Ensures the anchor does not exceed the container width */
}

.image img {
    display: block;
    width: 100%; /* Ensures the image takes the full width of its container */
    height: auto; /* Maintains the aspect ratio of the image */
    object-fit: cover; /* Ensures the image covers the dimensions without distortion */
}
.course-list li {
    margin-bottom: 10px; /* Adjust the spacing as needed */
}

.passport-photo {
    width: 100px; /* Adjust the width as needed */
    height: 130px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image covers the dimensions without distortion */
    border: 1px solid #000; /* Optional: Adds a border to the image */
    border-radius: 15px; /* Optional: Adds rounded corners */
}

body {
    background-color: #ADD8E6; /* Light blue color */
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-item {
    flex: 1 1 48%;
    text-align: center;
    margin: 1%;
}

.image-item img {
    max-width: 30%;
    height: auto;
}